.infobox {
    display: flex;
    flex-wrap: wrap;
    font-size: max(min(2vw, 1rem), 0.7rem);
    max-width: 100vw;
}

.info-panel {
    text-align: left;
    max-width: 520px;
    min-width: min(90vw, 400px);
    padding: 0 18px;
    margin-bottom: 40px;
}

.work-panel {
    max-width: 860px;
    min-width: min(90vw, 860px);
}

.title {
    margin-bottom: 48px;
}

p {
    color: #e6e6e6;
}

p b {
    color: #ffffff;
}

hr {
    width: 100%;
    border: none;
    margin-left: 0;
    border-top: 2px solid #383838;
}

.work-container {
    font-size: 1em;
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-piece {
    margin-bottom: 24px;
    max-width: 46%;
    min-width: min(87vw, 24rem);
    font-size: min(1.1em, 1rem);
}

.work-preview {
    max-width: 95%;
    margin: 12px 18px;
}

.work-subinfo {
    opacity: 0.6;
    font-size: 0.8em;
    margin-left: 16px;
}

.comm-status {
    font-size: 1.5em;
    color: #686868;
}

.status-open {
    color: #a1f590;
}

.status-closed {
    color: #f59090;
}

.status-semiclosed {
    color: #f5d790;
}

#copied {
    font-size: 1em;
    opacity: 0;
    margin-left: 12px;
    transition: 400ms ease-out;
}
