article {
    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
    padding: 0.5in;
}

@media (max-width: 9in) {
    article {
        grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
    }
    :root {
        font-size: 18px;
    }
}

@media (max-width: 5.0in) {
    :root {
        font-size: 16px;
    }
}

article * {
    grid-column: start / end;
}

img {
    width: 100%;
    padding-bottom: 2.4rem;
}

h3 {
    padding-bottom: 0.8rem
}

h2, ol, ul, p:not(:last-child) {
    margin-bottom: 2.4rem;
}

h4.author {
    margin-bottom: 1.2rem;
}

h1 {
    font: 400 2.0rem/1.2 "Roboto";
    color: hsl(209, 100%, 50%);
    text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
}

h2 {
    font: 400 1.5rem/1.2 "Roboto";
    color: hsl(000, 0%, 10%);
    text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
}

time {
    font: 700 1rem/1.2 "Roboto";
    color: hsl(000, 0%, 10%);
    text-transform: uppercase;
    font-style: italic;
}

h3 {
    font: 700 1rem/1.2 "Roboto";
    color: hsl(000, 0%, 10%);
    font-size: 125%;
    text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 6px;
}

p {
    font: 400 1rem/1.5 "Roboto";
    color: hsl(000, 0%, 20%);
}

h4.author {
    font: 400 1rem/1.5 "Roboto";
    color: hsl(000, 0%, 20%);
    font-style: italic;
}

a {
    color: hsl(209, 100%, 50%);
}

hr {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    width: 110%;
    margin-left: -5%;
    border: 0;
    height: 8px;
    border-radius: 4px;
    background: hsl(209, 100%, 50%);
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 6px;
}

.type-group {
    background-color: rgb(240, 240, 240);
    width: 100%;
    border-radius: 24px;
    padding: 3rem;
    padding-top: 1rem;
    transform: translateX(-3rem);
    box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 16px;
}

.moment {
    overflow: hidden;
    border-radius: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.5) 6px 6px 12px;
}