@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');

:root {
    --font: 'Roboto Mono';
    --bg-color: rgb(24, 24, 24);
    --gradient: linear-gradient(45deg, rgba(240, 90, 160, 1) 0%, rgba(255, 140, 70, 1) 100%);
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
    font-family: var(--font);
    color: white;
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    height: 140px;
    width: 330px;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 24px;
}

ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    margin: 0;
    margin-bottom: 4px;
    font-size: 1em;
}

li:not(:first-child) {
    padding-left: 0.7ch;
}

li:not(:first-child)::before {
    content: '|';
    display: inline-block;
    margin-right: 0.7ch;
    width: 1ch;
    text-align: center;
    opacity: 0.2;
    position: relative;
    top: -1px;
}

.social {
    text-decoration: none;
    color: #f2f2f2;
    transition: ease-out 200ms;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.social:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    opacity: 1;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    transform-origin: bottom right;
    transition: transform 200ms ease-out;
}

.social:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.discord {
    font-size: 0.8em;
    opacity: 0.4;
}

#copied {
    font-size: 0.7em;
    opacity: 0;
    margin-top: -1px;
    height: 1ch;
    transition: 400ms ease-out;
}
