* {
    font-family: 'Rubik', sans-serif;
}

html, body {
    height:100%;
    background-color: #1D1F20;
    margin: 0;
}

.content {
    height:100%;
    min-height:100%;/*for mozilla*/
    overflow: hidden;
}
  
html>body .content {
    height:auto;
}

.edge {
    width: 160vw;
    height: 400px;
    background-color: rgb(46, 49, 51);
    -ms-transform: translateY(-70%) translateX(-20%) rotate(-5deg);
    transform: translateY(-70%) translateX(-20%) rotate(-5deg);
}

.edge2 {
    width: 160vw;
    height: 400px;
    background-color: rgb(46, 49, 51);
    -ms-transform: translateY(100%) translateX(-20%) rotate(-5deg);
    transform: translateY(100%) translateX(-20%) rotate(-5deg);
}

.title {
    text-align: center;
    position: relative;
}

.title-1 {
    height: 320px;
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
}

.title-2 {
    height: auto;
    top: 20%;
    position: relative;
}

.links-2 {
    height: auto;
    top: 20%;
    position: relative;
    opacity: 1;
}

.title-text {
    position: relative;
    font-size: 96px;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 0 0 15px #0073D0;
    margin: 0;
}

.links {
    list-style: none;
    position: relative;
    display: inline-block;
    float: none;
    padding: 0;
    pointer-events: all;
}

.links i {
    display: inline-block;
    position: relative;
    float: none;
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: 0 0 10px #0073D0;
    margin: 0;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.5s ease-out;
}

.links i p {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 14px;
    font-weight: 500;
    -ms-transform: translateX(-50%) translateY(20%);
    transform: translateX(-50%) translateY(20%);
    cursor: pointer;
}

.dc {
    cursor: copy;
}

.links i:hover {
    text-shadow: 0 0 40px #0073D0;
}

/* media query stuff */

@media screen and (max-width: 540px) {
    .title-text {
        font-size: calc(16vw + 8px);
    }

    .links i {
        font-size: calc((16vw + 8px) / 2);
        padding: 1vw;
        padding-top: 0;
        padding-bottom: 0;
    }

    .links i p {
        font-size: calc((16vw + 8px) / 6.8);
        font-weight: 400;
    }
}