:root {
  --main-color: #673ab7;
  --dark-color: #320b86;
  --light-color: #9a67ea;
  --light-gray: rgb(220, 220, 220);
  --dark-gray: rgb(50, 50, 50);
}

body {
  background: linear-gradient(90deg, var(--main-color) 0%, var(--dark-color) 100%);
  margin: 0;
  padding: 0;
}

* {
  font-family: Roboto;
}

/* TITLE BOX */

.title {
  height: 50px;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  color: #ffffff;
}

.title h1 {
  margin-top: 10px;
  margin-bottom: -20px;
}

.title p {
  margin-top: -15px;
  margin-bottom: 10px;
  color: #dfe6e9;
}

.title p a {
  color: #dfe6e9;
}

/* INPUT BOX */

.form label {
  display: block;
  padding-right: 26px;
  width: 200px;
  font-size: 12px;
  margin: 0 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  line-height: 1;
  font-weight: bold;
  color: var(--dark-gray);
}

.inputfield {
  position: relative;
  width: 360px;
  margin: 10px auto;
  padding: 8px 20px;
  margin-top: 30px;
  background-color: white;
  border-left: 12px solid var(--light-gray);
  text-align: left;
  color: var(--dark-gray);
  box-shadow: var(--dark-gray) 0 0 32px;
}

input {
  width: 100%;
  padding: 6px 10px;
  margin: 6px 0px 10px 0;
  border: none;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  transition: ease-out 0.1s;
}

input:focus {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  box-shadow: var(--dark-gray) 0 0 6px;
}

.gamemode-select select {
  width: 100%;
  padding: 6px 10px;
  margin: 6px 0px 10px 0;
  border: none;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.gamemode-select select:focus {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  box-shadow: var(--dark-gray) 0 0 6px;
}

.button {
  background-color: var(--light-gray);
  width: 60%;
  border: none;
  border-radius: 32px;
  box-sizing: border-box;
  color: var(--dark-gray);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  font-size: 16px;
  margin: 8px 20%;
  transition: ease-out 0.2s;
}

.button:hover {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  box-shadow: var(--dark-gray) 0 0 12px;
}

/* RESULT BOX */

#resultbox label {
  font-size: 20px;
  margin-top: 10px;
  position: relative;
}

table {
  width: 100%;
  font-size: 14px;
  border: none;
}

th, td {
  padding: 4px 0px;
}

.row-header {
  width: 200px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--dark-gray);
}

.desc {
  color: #d9d5ff;
  font-style: italic;
}

/* loading animation */

#playername {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  visibility: visible;
}

#playername h3 {
  font-size: 16px;
  font-weight: 200;
}

.lds-ellipsis {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 40px;
  height: 40px;
  visibility: hidden;
}

.lds-ellipsis div {
  position: absolute;
  top: 17px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--dark-gray);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 28px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}