.front-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.info-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid var(--text-600);
    margin: 1rem 1.5rem 1.5rem 1rem;
}

.info-box::after {
    content: '';
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    bottom: -1rem;
    right: -1rem;
    border: 1px solid var(--text-800);
    clip-path: polygon(calc(100% - 0.5rem) 0, 100% 0, 100% 100%,
            0 100%, 0 calc(100% - 0.5rem), calc(100% - 0.5rem) calc(100% - 0.5rem));
}

.separator {
    border-bottom: 1px solid var(--text-600);
    width: 100%;
}

.logo {
    position: relative;
    width: 30rem;
    aspect-ratio: 2.5;
    height: auto;
    transform: translateX(4px);
    max-width: max(12rem, calc(90vw - 6rem));
    margin: 2rem 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: calc(90vw - 2rem);
}

.socials {
    opacity: 1;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    letter-spacing: 0.08rem;
}

.description {
    opacity: 1;
    max-width: 34rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    color: var(--text-50);
}

.social {
    user-select: none;
    color: var(--text-50);
    position: relative;
    cursor: pointer;
}

.social:after {
    bottom: -0.2em;
}

.discord {
    padding: 0 0.2em;
    font-style: italic;
    position: relative;
}

.tooltip {
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    font-size: 0.8rem;
    padding: 0.1rem 0.8rem;
    text-wrap: nowrap;
    user-select: none;
    background-color: var(--primary-400);
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease, transform 150ms ease-out;
}

.subtext {
    color: var(--text-600);
}

@media only screen and (max-width: 36rem) {
    .info {
        align-items: flex-start;
    }

    .socials {
        flex-direction: column;
        gap: 0.4rem;
        align-items: flex-start;
    }

    .description {
        text-align: left;
    }

    .misc-info {
        justify-content: flex-start;
    }
}